@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lexend+Zetta&display=swap');

.content {
   display: flex;
   flex-direction: column;
  
}
.posts {
  display: flex;
  flex-direction: column-reverse;
  
}
.postElementContainer {
   background-color: #e1f669;
   border: none;
   color: white;
}
.postElement {
   background-color: white; 
   color: black; 
   border: 2px solid #3ADEF4;
}
.post__like {
  width: 30px;
  height: 30px;
}
.postsHeader {
  font-family: "Krona One";
  font-size: 25px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  padding-top: 34px;
  padding-left: 30px;
  padding-bottom: 30px;
}
.inputPost {
  font-family: 'Lexend Zetta', sans-serif;
  padding-top: 10px;
  text-align: center;
   font-size: 15px;
   border: 1px solid #ffffff;
   
   outline: none;
 }
 .inputPost:focus {
   border: 1px solid rgb(230, 231, 231);
 }
 .inputPost:focus::-webkit-input-placeholder {
     color: transparent
 }
 .post__add button{
  font-family: "Krona One";
  font-size: 25px; 
 }