
.myProfile__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 15px;
}
.myProfile__title {
    font-size: 18px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    
}
.itemPhoto {
    width: 303px;
    height: 385px;
}
.itemDiscription {
    font-size: 25px;
    font-style: italic;
    font-weight: 300;
}
.userImg {
    
}
.fullName  {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
