.header {
    grid-area: h;
    background-color: #000000;
}
.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo__container {
    padding-top: 20px;
    padding-right: 175px;
}
.header__logo {
    width: 312px;
    height: 142px;
    background-size: cover;
    background-position: center center;
    transition: box-shadow 0.5s;
    will-change: transform;
    background-image: url(../../assets/dung6eetleLogo.svg);
}

/* /* .header__logo img {
    padding-top: 30px;
    width: auto;
    height: 150px; */
 
.loginBlock {
    font-family: "Krona One";
    color: rgb(230, 220, 220);
    font-size: 15px; 
    justify-content: flex-end;
}
.userName {
    font-family: "Krona One";
    font-size: 15px;
    color: rgb(230, 220, 220);
}
.buttonLogout {
    padding: 10px 15px;
    margin: 0px 5px;

    font-family: "Krona One";
    font-size: 15px; 
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    background-color: aqua;
    border-radius: 10px;
}
.loginLink {
    color: rgb(230, 220, 220);
    font-family: "Krona One";
    font-size: 15px;
    text-decoration: none;
}