.header {
    grid-area: h;
    background-color: #000000;
}
.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.logo__container {
    padding-top: 20px;
    padding-right: 175px;
}
.header__logo {
    width: 312px;
    height: 142px;
    background-size: cover;
    background-position: center center;
    transition: box-shadow 0.5s;
    will-change: transform;
    background-image: url(../../assets/dung6eetleLogo.svg);
}

/* /* .header__logo img {
    padding-top: 30px;
    width: auto;
    height: 150px; */
 
.loginBlock {
    font-family: "Krona One";
    color: rgb(230, 220, 220);
    font-size: 15px; 
    padding: 3px 15px;
}
.userName {
    font-family: "Krona One";
    font-size: 15px;
    color: rgb(230, 220, 220);
}
.buttonLogout {
    font-family: "Krona One";
    font-size: 15px; 
}
.loginLink {
    color: rgb(230, 220, 220);
    font-family: "Krona One";
    font-size: 15px;
    text-decoration: none;
}