$layoutPadding: 70px;
html {
  padding: 0px;
  margin: 0px;
}
body {
  display: block;
  min-height: 100vh;
}
.app_wrapper {
  margin: 0 auto;
  display: grid;
  
  grid-template-areas: 
  "h h" 
  "n c" ;

  grid-template-rows: 145px 1fr;
  grid-template-columns: 3fr 10fr;
}
